*

!*.py
vitis_journal.py

!README.md
!/.gitignore

!xsa
!xsa/*

!ZynqDetector
!ZynqDetector/src
!ZynqDetector/src/common
!ZynqDetector/src/common/*
!ZynqDetector/src/device
!ZynqDetector/src/device/*
!ZynqDetector/src/device/Zynq/*
!ZynqDetector/src/detector
!ZynqDetector/src/detector/*

!*.cpp
!*.hpp
!*.tpp
